

body {
	background-color: #F4F2F4;
}

.title {
  align-content: center;
}

.george {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.game-card {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

table {
  border: 5px solid black;
}

@media print {
  .george, .nav {
    display: none;
  }
}