<div ng-controller='homeController'>

  <!-- nav bar -->
  <div class= 'container'>
      <ul class= 'nav nav-pills nav-fill' style="background-color: #95F2D9;">
        <li class='nav-item'>
          <a class="nav-link" ng-click="gameCards()" href='#' >Georgeria</a>
        </li>
        <li class='nav-item'>
          <a class="nav-link" href="#">Upload</a>
        </li>
        <li class='nav-item'>
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
  </div>

  <!-- Grandpa -->
  <div class= 'container'>
    <img class= 'george' src="assets/george.png">
  </div>

  
</div>
